:root {
  --primary: #ebc908;
  --primary-text: #ff0000;
    --secondary: transparent;
    --secondary-text: #000000;
    --secondary2: #ffffff;
    --secondary2-text: #c70000;
  --accent: transparent;
  --accent-text: #000000;
}

