:root {
  --primary: #ffffff;
  --primary-text: #ff0000;
    --secondary: transparent;
    --secondary-text: #0011ff;
    --secondary2: transparent;
    --secondary2-text: #ffffff;
  --accent: transparent;
  --accent-text: #ffffff;
}

